.movieContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    height: 100%;
    padding: 50px;
    margin-top: 80px;

}

.movieItemWrapper {
    margin: 0px 20px 20px 0;
    cursor: pointer;
}

.movieImg {
    width: 160px;
    height: 200px;
    object-fit: cover;
    background: gray;
}

.movieTitle {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    max-width: 160px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;

}

.loading {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.erroMsg {
    padding: 50px 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    flex: 1;
    text-align: center;
    margin-top: 80px;

}

@media (max-width: 992px) {
    .movieContainer {
        padding: 25px;
    }

    .movieItemWrapper {
        margin: 0px 10px 10px 0;

    }

    .movieImg {
        width: 150px;
        height: 150px;
    }

    .movieTitle {
        font-size: 0.7rem;
        max-width: 150px;
        width: 100%;

    }

    .erroMsg {
        padding: 25px 0 0;
    }
}